<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Google Maps -->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
  <iframe class="w-full h-56 bg-blue-003 rounded-tl-lg rounded-br-lg"
    src="https://www.google.com/maps/embed?tERYvfxKHCG1Jfu59"
    
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
  </div>
</section>
<!-- /Google maps -->
  <script src="script.js"></script>
</body>

</html>